.vs/                       
packages/    
Tayana/obj/
Tayana/bin/
Tayana/AgentImg/
Tayana/assets/
Tayana/ckfinder/
Tayana/css/
Tayana/DimensionImg/
Tayana/GalleryImg/
Tayana/images/
Tayana/NewsGalleryImg/
Tayana/OverviewFile/
Tayana/Scripts/
Tayana/Tayana/
Tayana/Web.config
Tayana/Properties/
Tayana/Tayana.csproj
Tayana/Tayana.csproj.user